/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
/* stylelint-disable */
a,abbr,acronym,address,applet,article,aside,audio,b,big,blockquote,body,canvas,caption,center,cite,code,dd,del,details,dfn,div,dl,dt,em,embed,fieldset,figcaption,figure,footer,form,h1,h2,h3,h4,h5,h6,header,hgroup,html,i,iframe,img,ins,kbd,label,legend,li,mark,menu,nav,object,ol,output,p,pre,q,ruby,s,samp,section,small,span,strike,strong,sub,summary,sup,table,tbody,td,tfoot,th,thead,time,tr,tt,u,ul,var,video{margin:0;padding:0;border:0;font:inherit;vertical-align:baseline}article,aside,details,figcaption,figure,footer,header,hgroup,main,menu,nav,section{display:block}html{line-height:1}body{line-height:inherit}ol,ul{list-style:none}blockquote,q{quotes:none}blockquote:after,blockquote:before,q:after,q:before{content:'';content:none}table{border-collapse:collapse;border-spacing:0}
/* stylelint-enable */

/* Begin site styles below */
html {
  font-size: 1.125em; /* 18/16 = 1.125 */
  /*
   BIG GIANT NOTE!
   When you change the `font-size`, you change the context
   (in pixels). 1.125em = 18px = new context for the line-height
  */
  line-height: 1.3333333333em; /* 24/18 = 1.3333333333 */
}
h1 {
  font-size: 5.3333333333em; /* 96/18 = 5.3333333333 */
  /*
   ANOTHER BIG GIANT NOTE!
   Again, change the `font-size`, change the context
   (in pixels). 5.333em = 96px = new context for the line-height
   Here, that works out to 1em! So you can see how important
   it is to include your math and original pixel values, so
   that you can understand what *absolute* value a relative
   value ought to represent.
  */
  line-height: 1em; /* 96/96 = 1 */
}
.items li {
  background-color: #600;
  color: #EEE;
  margin: 0.6666666667em 0; /* 12/18 = 0.6666666667 */
  padding: 2.6666666667em; /* 48/18 = 2.6666666667 */
}
.items li:nth-child(2n) {
  background: #006;
}

/* Context is ALWAYS 16px for Media Queries */
/* 410/16 = 25.625 */
@media screen and (min-width: 25.625em) {
  @supports(display: grid) {
    .items {
      /* Add margin around container */
      margin: 0.6666666667em; /* 12/18 = 0.6666666667 */
    }
    .items li {
      margin: 0; /* No margin around items; use gap instead */
    }
  }

  .items {
    display: grid;
    grid-gap: 0.6666666667em; /* 12/18 = 0.6666666667 */
    gap: 0.6666666667em; /* 12/18 = 0.6666666667 */
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto auto auto;
  }
  /*
  Flexbox Demo code:
  */
  /*
  .items {
    display: flex;
    flex-flow: row wrap;
  }
  .items > * {
    flex: 1 0 auto;
  }
  .items li:nth-child(2n) {
    background: #006;
  }
  */
}
