/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
/* stylelint-disable */
a,abbr,acronym,address,applet,article,aside,audio,b,big,blockquote,body,canvas,caption,center,cite,code,dd,del,details,dfn,div,dl,dt,em,embed,fieldset,figcaption,figure,footer,form,h1,h2,h3,h4,h5,h6,header,hgroup,html,i,iframe,img,ins,kbd,label,legend,li,mark,menu,nav,object,ol,output,p,pre,q,ruby,s,samp,section,small,span,strike,strong,sub,summary,sup,table,tbody,td,tfoot,th,thead,time,tr,tt,u,ul,var,video{margin:0;padding:0;border:0;font:inherit;vertical-align:baseline}article,aside,details,figcaption,figure,footer,header,hgroup,main,menu,nav,section{display:block}html{line-height:1}body{line-height:inherit}ol,ul{list-style:none}blockquote,q{quotes:none}blockquote:after,blockquote:before,q:after,q:before{content:'';content:none}table{border-collapse:collapse;border-spacing:0}
/* stylelint-enable */

/* Begin site styles below */

html {
  color: #111;
  background-color: #EEE;
  font-family: Georgia, "Times New Roman", Times, Roman, serif;
  font-size: 18px;
  line-height: 24px;
}

/*
  Base Styles
  Modular Scale: 9:16
    https://www.modularscale.com/?18&px&1.778
*/

h1 {
  font-size: 32.004px;
  line-height: 36px;
}
h1 a {
  text-decoration: none;
  color: inherit;
}

/* Layout Styles */

/* Modular Styles */
#navigation {
  font-family: Verdana, Arial, sans-serif;
  font-size: 15.748px; /* 1.143 smaller than georgia */
}
#navigation li {
  margin-bottom: 6px;
}
#navigation a {
  background-color: #333;
  color: #CCC;
  display: block;
  line-height: 0;
  padding: 24px;
  text-decoration: none;
}
#navigation a:hover,
#navigation a:active,
#navigation a:focus,
#about #nav-about {
  background-color: #666;
}

/*
  State Styles
*/
@media screen and (min-width: 600px) {
  #navigation ul {
    display: flex;
  }
  #navigation ul > li {
    flex: 1 0 auto;
  }
}

/*
  Non-visible content elements
*/
.wayfinder,
.p-honorific-suffix,
#navigation h2 {
  position: absolute;
  left: -20000px;
}
